@function theme-color( $color, $opacity: 1 ) {

    $color: map-get( $palette, $color );

    @if $opacity != 1 {
        @return rgba( $color, $opacity );
    }

    @else {
        @return $color;
    }

}