$palette: (
    white: white,
    black: black,
    primary: navy,
    secondary: red,
);

$screensaver-bg: theme-color( black );
$screensaver-color: theme-color( white );

$screensaver-fs-cz: 3rem;
$screensaver-fs-en: 2rem;

$progressbar-bg: theme-color( secondary );
$progressbar-bg-overlap: darken( theme-color( secondary ), 10 );
$progressbar-height: 1.2rem;
$progressbar-height-overlap: .75rem;

$highlight-bg: theme-color( black );
$highlight-color: theme-color( white );
$highlight-fs-cz: 2rem;
$highlight-fs-en: 1.5rem;

$screen-transition-duration: .3s;


$rem-base: 16px;

$font-family: "roobertsemibold";

$font-size-base: 20px;
 