.screen_composite {

}

.composite-image {
    position: absolute;
    top: 0;
    left: 0;
}

.composite-video-container {
    position: absolute;
    background: black;
    transition: opacity .3s ease-in-out;
    video {
        transition: opacity .3s ease-in-out;
        display: block;
        margin: 0;
        padding: 0;
        opacity: 1;
    }
    
}

.composite-video-container__ended {
    opacity: 0;
    transition-delay: .2s;
    video { opacity: 0; }
}