.screen__idle {

    .screen-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

}

.screen__idle {
    img {
        max-width: 50%;
        height: auto
    }
}

