.screen__linear {

}

// The counter

.linear-countdown {

    $var: true;

    @if $var {
        position: absolute;
        box-sizing: border-box;

        padding-top: 4rem;

        width: 100%;
        height: 100%;

        color: white;

        text-align: center;
        font-size: 40rem;
        font-weight: bold;

        opacity:.1;
    }

    @else {

        position: absolute;

        bottom: 2rem;
        right: 2rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;

        color: black;
        background: rgba( 255,255,255,.2 );

        font-size: 7rem;
        line-height: 1.45em;
        font-weight: bold;
        text-align: center;

    }

    /*
    
    */

    

    

    // opacity: .2;
    
    
}

// Mixins & commons
@mixin linear-transition() {
    transition: all .3s ease-in-out;
}


// Default states commons

.linear-phase {
    
    position: absolute;
    box-sizing: border-box;

    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;

    color: white;

}

.linear-phase__text {

    box-sizing: border-box;

    width: 100%;

    .linear-phase-lang {
        p:not( :last-child ) {
            padding-bottom: .5em;
        }
    }

    .linear-phase-lang__cz {
        padding-bottom: 1em;
    }

    .linear-phase-lang__en {
        font-size: .8em;
        opacity: .7;
    }
}

// Declaring transitions
.linear-phase,
.linear-phase__text {
    @include linear-transition();
}

// Pre phase
.linear-phase__pre {
    left: 10%;
    width: 20%;
    padding: 2rem;
    font-size: 1.3rem;
    opacity: 1;
}

.screen__linear__phase-pre {
    .linear-phase__pre {
        left: 20%;
        width: 60%;
        padding: 0rem;
        font-size: 2rem;
        opacity: 1;
    }
}

.screen__linear__phase-post {
    .linear-phase__pre {
        opacity: 0;
    }
}

.linear-phase__post {
    font-size: 2rem;
    // align-items: center;
    .linear-phase-lang {
        width: 60%;
    }
}

.linear-phase__video {
    align-items: flex-start;
    video {
        max-height: 80%;
        width: auto;
    }
}

.linear-phase__video,
.linear-phase__post {
    opacity: 0;
    width: 70%;
    left: 30%;
    transform: translateX( 200px );
}

.screen__linear__phase-video .linear-phase__video,
.screen__linear__phase-post .linear-phase__post {
    opacity: 1;
    transform: translateX( 0px );
}