@mixin phase-off() {
    opacity: 0;
    // transform: scale(.7) translateY( 100px );
}

@mixin phase-on() {
    opacity: 1;
    // transform: scale(1) translateY( 0px );
}

.simultaneous-phase {
    
    position: absolute;

    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    overflow: hidden;
    box-sizing: border-box;

    transition: all .5s ease-in-out;

    padding: 3rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    align-items: center;
    justify-content: center;

    color: white;

    @include phase-off();

}

.simultaneous-phase-text,
.simultaneous-phase-media {

}

.simultaneous-screen-icon {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

.simultaneous-phase-media {

    img, video {
        max-height: 770px !important;
        width: auto;
        max-width: initial;
    }

}

.simultaneous-phase-text {
    flex-basis: 30%;
    width: 30%;
    padding-left: 3rem;

    font-size: 1rem;

    font-family: roobertsemibold;

    img {
        padding-bottom: 1rem;
    }
}

.simultaneous-phase-text-lang {

    div {
        padding-bottom: 1rem;
        text-transform: uppercase;
        // font-weight: bold;
        font-family: "pp_supply_monoregular";
        font-size: 1.4em;
    }

    p {
        font-size: 1.1rem;

    }

    p:not( :last-child ) {
        padding-bottom: .5em;
    }

}

.simultaneous-phase-text-lang__cz {

    padding-bottom: 2em;
    //font-size: 2rem;
}

.simultaneous-phase-text-lang__en {
    // font-size: 1.5rem;
    // opacity: .7;
}

.screen__simultaneous__phase-pre {

    .simultaneous-phase__pre {
        @include phase-on();
    }

}

.screen__simultaneous__phase-post {

    .simultaneous-phase__post {
        @include phase-on();
    }

}