.screen__screensaver {

    .screen-wrapper {
        
        background: $screensaver-bg;
        color: $screensaver-color;
        
    }

    .screensaver-images {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .sprite {
        transition: all .3s ease-in-out;
        position: absolute;
        // top: 0;
        // left: 0;
        transform-origin: center;

        img {
            transition: all 3s ease-in-out;
            opacity: 0;
            transform: translateX( 20px ) scale(.3);
            min-width: 100px;
            &.on {
                opacity: 1;
                transform: translate(0px) scale( 1 )
            }
        }

    }

    .slogan {
        position: absolute;
        max-width: 70%;
        strong {
            display: block;
            font-size: $screensaver-fs-cz;
            font-weight: bold;
            padding-bottom: 1rem;
        }
        span {
            font-size: $screensaver-fs-en;
        }

        .typed-cursor {
            display: none;
        }
    }


}