.screen__touch {
    .screen-wrapper {
        background: white;
        font-family: "pp_supply_monoregular";
    }
}

.touch-background {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
        transition: filter .3s ease-in-out;
    }
}

.triggers-wrapper {

}

.trigger {
    
    
}


// Touch title
.touch-title {

    position: absolute;
    
    bottom: 0px;
    left: 0px;

    background: $highlight-bg;
    color: $highlight-color;

    box-sizing: border-box;
    width: 100%;
    padding: 1rem 2rem;
    
    transform: translate( 0, 300px );
    transition: transform .3s ease-in-out;

}

.touch-title-heading {
    text-align: center;

    > div {
        display: inline;

        &:first-child {
            &::after {
                content: "•";
                display: inline-block;
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}

.touch-title-heading-cz, 
.touch-title-heading-en {
    // font-weight: bold;
    font-size: $highlight-fs-cz;
}

.screen__touch__highlight {

    .touch-title {
        transform: translate( 0, 0 );
    }

    .touch-background {
        opacity: .2;

        img {
            filter: grayscale( 100% );
        }
    }

    .trigger:not( .trigger__highlight ) {
        opacity: .2;
    }

    .trigger__highlight {
        // transform: scale( 2 );
    }

}

@import "trigger";