.screen__touch {

    .trigger {

        position: absolute;

        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
        
        div {

            position: absolute;

            width: 50%;
            height: 50%;

            top: 25%;
            left: 25%;

            transform-origin: center;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
    &.screen__active {

        .trigger div::after,
        .trigger div::before {
            // @include animation-on();
        }

        .trigger div::after {
            // animation-delay: 1s;
        }

    }

}