.screen__twoimages {

    .screen-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .two-image {
        opacity: 0;
        transition: all ease-in-out .4s;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.first {
        .two-image__first {
            opacity: 1;
        }
        .two-image__second {
            opacity: 0;
        }
    }
    &.second {
        .two-image__first {
            opacity: 0;
        }
        .two-image__second {
            opacity: 1;
        }
    }

}