
/**
 * Base positioning
 */
#app,
.screen-wrapper,
.screen-progressbar {
    
    position: absolute;
    
    top: 0px;
    left: 0px;

}

/**
 * Base sizing
 */
#app,
.screen-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.screen-progressbar {

    background-color: $progressbar-bg;

    z-index: 999;

    transition: background-color .3s ease-in-out, height .3s ease-in-out;

    height: $progressbar-height;

}

.screen-progressbar__overlap {
    background: $progressbar-bg-overlap;
    height: $progressbar-height-overlap;
}

.screen {

    height: 0px;
    // opacity: 0;

    transition: opacity $screen-transition-duration ease-in-out;

}

/**
 * Inactive
 */
//.screen,
.screen__inactive {
    
    opacity: 0;
    // display: none;
}

/**
 * Active
 */
.screen__active {
    opacity: 1;
}

.screen-wrapper {
    height: 100%;
}

/**
 * Simple screen content centering
 */
.screen__image,
.screen__video {
    .screen-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@import "./Screens/screensaver";
@import "./Screens/touch";
@import "./Screens/composite";
@import "./Screens/linear";
@import "./Screens/parallel";
@import "./Screens/idle";
@import "./Screens/twoimages";